// Variables
$primary-color: #ff4c68;
$secondary-color: #ef8172;
$main-font-family: "Montserrat", sans-serif;

// App
* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 200px;
}

// Header

header nav {
  background-color: $primary-color;
  .navbar-brand {
    color: white !important;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.nav-link {
  color: white !important;
  font-size: 1.25rem;
}

// Main

// Footer
